@using FantasyCyclingParser;

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8 rider-status @animateClass">
            <h3>@Team.Model.PDCTeamName</h3>
            <h3>
                <MatButton Unelevated="true" @onclick="SaveChanges">Save Changes</MatButton>
                @if (Team.CanUseOverride)
                {
                    <span>|</span> <MatButton Unelevated="true" @onclick="OverrideTeam"> Override<i class="oi oi-bolt " /> </MatButton>
                }
            </h3>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ul class="dropzone @dropClass"
                    ondragover="event.preventDefault();"
                    ondragstart="event.dataTransfer.setData('', event.target.id);"
                    @ondrop="HandleDrop"
                    @ondragenter="HandleDragEnter"
                    @ondragleave="HandleDragLeave">
                </ul>

                <hr />

                @if (Team.RiderToDraft != null)
                {
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>@Team.RiderToDraft.Name </td>
                                <td>@Team.RiderToDraft.CurrentYearCost</td>
                                <td><MatButton Unelevated="true" @onclick="RemoveRider"><i class="oi oi-action-undo " /> </MatButton> </td>
                            </tr>


                        </tbody>
                    </table>
                }

                <h3>Current Riders </h3>
                <table id="currentTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Rider r in Team.Model.Riders)
                        {
                            <tr>
                                <td>@r.Name </td>
                                <td>@r.CurrentYearCost</td>
                                @if (Team.IsUsingOverride)
                                {
                                    <td><MatButton Unelevated="true" @onclick="() => RemoveExistingRider(r.PDC_RiderID)"><i class="oi oi-action-undo " /> </MatButton> </td>
                                }

                            </tr>
                        }

                    </tbody>
                </table>
            </div>

           
        </div>
        
    </div>
</div>