@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@using FantasyCyclingParser
@using FantasyCyclingWeb.Models

@model RaceSeasonViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="~/js/RaceSeasonModule.js"></script>
<script src="~/js/ChartsModule.js"></script>
<script src="~/echarts-master/dist/echarts.min.js"></script>
<script src="~/js/nvd3charts/nv.d3.min.js"></script>
<link href="~/js/nvd3charts/nv.d3.min.css" rel="stylesheet" />
<style>
    svg {
        display: block;
    }

    #chartZoom {
        position: absolute;
        top: 0;
        left: 0;
    }

    html, body, #lineChart, svg {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        min-height: 500px;
    }
</style>


<h1>@DateTime.Now.Year Fantasy Cycling --- Race Season</h1>

@*<div id="chartZoom">
        <a href="#" id="zoomIn">Zoom In</a> <a href="#" id="zoomOut">Zoom Out</a>
    </div>*@

<div id="lineChart">
    <svg></svg>
</div>

<hr />

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

    <div class="panel panel-flat">
        <div class="panel-heading">

            <h5>Points Per Race</h5>
            <hr />
        </div>
        <div class="panel-body">
            
            <div class="panel-group panel-group-control content-group-lg" id="accordion-control">
                @foreach (FantasyResult f in Model.FantasyResults)
                {
                    @Html.Partial("_SeasonRacePointsPerTeam", f)
                }

            </div>
        </div>
    </div>
</div>



<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-flat">
        <div class="panel-heading">

            <h5>Best One Day Result</h5>
            <hr />
        </div>
        <div class="panel-body">
            <h4>
                @Model.MaxPointsRace.Race.Month @Model.MaxPointsRace.Race.DayNum <br />
                @Model.MaxPointsRace.Race.Country <br />
                @Model.MaxPointsRace.Race.EventName
            </h4>
            <h4>@Model.MaxPointsPDCTeam.Name scored @Model.MaxPointsPDCTeam.Points points</h4>

            </div>
        </div>

        </div>


        <script type="text/javascript">
            $(document).ready(function () {

                var vm = @Html.Raw(Json.Encode(@Model));
                RaceSeason.init(vm);

            });
        </script>
